* {
	margin: 0;
	padding: 0;
}

html,
body {
	overflow: hidden;
	font-family: sans-serif;
	color: white;
}

#webgl {
	position: fixed;
	top: 0;
	left: 0;
	outline: none;
}


.top-screens-page {
	position: relative;
	height: 100vh;
	display: flex;
}

.top-screens {
	display: flex;
	gap: 10px;
}

.left-screen, .right-screen {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
}

.joined-screen {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	opacity: 0.5;
	background-color: red;
}

.score-container {
	color: white;
	font-size: 15px;
}

.current-container {
	color: white;
	font-size: 15px;
}

p {
	color: white;
	font-size: 6px;
}