@import '../styles/reset.css';
#webgl {
	position: fixed;
	top: 0;
	left: 0;
	outline: none;
}

.top-screens-page {
	position: relative;
	display: flex;
}

.top-screens {
	height: 25vh;
	width: calc(30vh * 2);
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	margin: 0 auto;
	inset: 0;

	z-index: 2;
}

.left-screen,
.right-screen {
	width: 50%;
	height: 100%;

	display: flex;
}

.right-screen {
	overflow: scroll;
	display: block;
}

.left-screen {
	gap: 10%;
}

.joined-screen {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	opacity: 0;
	pointer-events: none;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.rounds-spins-container,
.scores-container {
	display: flex;
	flex-direction: column;
	padding: 3%;
	gap: 10%;
}

.current,
.score,
.round,
.spins {
	font-size: 200%;
}
.current,
.score {
	font-size: 200%;
}

p {
	color: white;
	font-size: 120%;
}
