@import '../../styles/reset.css';

#webgl {
	position: fixed;
	top: 0;
	left: 0;
	outline: none;
}

.channel,
.no-signal {
	color: #26ff26;
	text-shadow: 1px 1px 0 black;
	text-rendering: optimizeSpeed;
	font-family: monospace;

	&:empty {
		display: none;
	}
}

.channel {
	position: fixed;
	font-size: 6rem;
	top: 0;
	right: 2.5rem;
	z-index: 1;
}

.no-signal {
	position: fixed;
	font-size: 4rem;
	z-index: 1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
}
